@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto&display=swap');

body {
    color: #c1c7cb;
    font-size: 1rem;
    line-height: 1.625;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
  }

  .main_headre{
    background-color: transparent;
  }


  .main_logo {
    width: 80px;
  }

  .main_logo img {
    width: 100%;
  }

  .header_links {
    color: #c1c7cb !important;
    /* font-family: 'Rajdhani', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem ;
    margin: 0px 10px;


  }

  .wallet_button {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
display: flex;
gap: 10px;
justify-content: center;
align-items: center;
border-radius:20px  ;
    color: #c1c7cb !important;

    border: 1px solid #0074FF;
    padding: 5px 15px !important;
  }


 @media only screen and (max-width:600px){
  .header_links{
    text-align: center !important;
  }
 }