.Main_footer_bg{
    padding: 20px 10px ;
}

.cpr {
    color: #c1c7cb;
    margin-top: 1rem;
}

.join_c{
    text-transform:capitalize;
    color: #c1c7cb;
    font-size:2rem;
    text-decoration: underline;

}

.icons_clr {
    font-size:1.5rem  !important;
}


.around_social {
    background-color: #212835;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 40px; */
    /* height: 40px; */
    border-radius: 50%;
}
.alli {
    color: #c1c7cb;

    /* text-transform: capitalize; */

}